[supervisord]
nodaemon=true

[program:nginx-ldap-daemon]
command={{ nginx_ldap_daemon_command }}

[program:nginx-ldap-app]
command={{ nginx_ldap_app_command }}

[program:redis]
command={{ nginx_ldap_redis_command }}

[program:nginx]
command={{ nginx_ldap_command }}
