[supervisord]
nodaemon=true

[program:nginx-ldap-auth]
command={{ nginx_ldap_auth_command }}

[program:nginx]
command={{ nginx_ldap_command }}

[program:cwl-agent]
command={{ nginx_ldap_cwl_agent_command }}
